.video__list {
  padding: 20px 0 0 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

@media (max-width: 767px) {
  .video__list {
    flex-direction: column;
    align-items: center;
  }
}
