.video__list__off {
  padding: 1rem 0 0 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.video__list__on {
  padding: 1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

@media (min-width: 30rem) and (max-width: 65rem) {
  .video__list__on {
    justify-content: flex-start;
    padding-left:1rem;
  }
}

@media (max-width: 30rem) {
  .video__list__off {
    padding: 20px 0 0 0;
  }
}
