:root {
  --main-backgoround-color: rgb(243, 243, 243);
}

.app {
  width: 100vw;
  margin: auto;
  background-color: var(--main-backgoround-color);
}

.container {
  display: flex;
}

.player {
  flex: 1 1 70%;
}

.videos {
  flex: 1 1 30%;
}

@media (max-width: 65rem) {
  .container {
    flex-direction: column;
  }
}




